[submodule "LangChain-Web-Apps"]
	path = LangChain-Web-Apps
	url = https://github.com/avrabyt/LangChain-Web-Apps.git
[submodule "LangChain-Tools-Streamlit-Callback-Handler"]
	path = LangChain-Tools-Streamlit-Callback-Handler
	url = https://github.com/avrabyt/LangChain-Tools-Streamlit-Callback-Handler.git
[submodule "LangChain-Comparative-PDF-Analysis-App"]
	path = LangChain-Comparative-PDF-Analysis-App
	url = https://github.com/avrabyt/LangChain-Comparative-PDF-Analysis-App.git
[submodule "MultiLingual-ChatBot"]
	path = MultiLingual-ChatBot
	url = https://github.com/avrabyt/MultiLingual-ChatBot.git
[submodule "BabyAGI-Web-App"]
	path = BabyAGI-Web-App
	url = https://github.com/avrabyt/BabyAGI-Web-App.git
